
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@model MBase64;
@*1st update*@
<div class="big-image-container">
    @*replace big img here*@
    <div class="content" style=" background: url(data:image/png;base64,@Model.MBigIMG64); background-position: center; background-size: cover; ">
        <div class="left-content">
            <h2>@Model.Title</h2>
            <p>@Model.Desc
            </p>
            <a href="#" class="play-video"><img src="~/sources/icon/video/play.png"/>
                <span>Watch Trailer</span>
            </a>
        </div>
        <a asp-route="details" asp-route-id="@Model.MID" class="right-content slide" style="background: url(data:image/png;base64,@Model.MIMG64); background-size: cover;"></a>
    </div>
</div>
<div class="trailer" id="trailer-video">
    <iframe allowfullscreen src="https://www.youtube.com/embed/@Model.Trailer"></iframe>
    <img class="close-trailer" src="~/sources/icon/video/close.png"/>
</div>

@*top 7 random slider*@
<div class="top3_random">
    <div class="movie_title">
        <i class='bx bx-movie-play bx-tada' ></i>
        <span>your movie today</span>
    </div>
    <div class="owl-carousel" id="top3_random_slide">
        <!--1-->
        @foreach (var item in ViewBag.Movies6)
        {
            <a asp-route="details" asp-route-id="@item.MID" class="movie-item">
                <img src="data:image/png;base64,@item.MIMG64" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        @item.Title
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>@item.Length mins</span>
                        </div>
                        <div class="movie-info">
                            <span>@item.Status</span>
                        </div>
                        <div class="movie-info">
                            <span>10+</span>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>

@*latest update*@
<div class="section_last">
    <div class="sec_last_container">
        <div class="movie_title">
            <i class='bx bxs-videos bx-flashing' ></i>
            <span>Recently update</span>
        </div>
        <div class="movie-slide carousel-nav-center owl-carousel">
            @foreach (var item in ViewBag.MoviesLatestUpdate)
            {
                <a asp-route="details" asp-route-id="@item.MID" class="movie-item">
                    <img src="data:image/png;base64,@item.MIMG64" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            @item.Title
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>9.5</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>@item.Length mins</span>
                            </div>
                            <div class="movie-info">
                                <span>@item.Status</span>
                            </div>
                            <div class="movie-info">
                                <span>10+</span>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

@*japanese drama update*@
<div class="section_last">
    <div class="sec_last_container">
        <div class="movie_title">
            <i class='bx bx-aperture bx-spin' ></i>
            <span>Japanese Drama</span>
        </div>
        <div class="movie-slide carousel-nav-center owl-carousel">
            <!--1-->
            @foreach (var item in ViewBag.MoviesDramaMovies)
            {
                <a asp-route="details" asp-route-id="@item.MID" class="movie-item">
                    <img src="data:image/png;base64,@item.MIMG64" alt="">
                    <div class="movie-item-content">
                        <div class="movie-item-title">
                            @item.Title
                        </div>
                        <div class="movie-infos">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>9.5</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>@item.Length mins</span>
                            </div>
                            <div class="movie-info">
                                <span>@item.Status</span>
                            </div>
                            <div class="movie-info">
                                <span>13+</span>
                            </div>
                        </div>
                    </div>
                </a>
            }
            @*
            <!--2-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/japan_drama/hapi_mari_live.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Hapi Mari
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!--3-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/japan_drama/kamen_teacher.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Kamen Teacher
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!--4-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/japan_drama/nigeru_wa_haji.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Nigeru wa Haji
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!--5-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/japan_drama/nobunaga_concerto.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Nobunaga Concerto
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!--6-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/japan_drama/relife_live.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Relife Live Action
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>
            <!--7-->
            <a href="#" class="movie-item">
                <img src="~/sources/images/slide/japan_drama/uso_no_senso.jpg" alt="">
                <div class="movie-item-content">
                    <div class="movie-item-title">
                        Uso no Senso
                    </div>
                    <div class="movie-infos">
                        <div class="movie-info">
                            <i class="bx bxs-star"></i>
                            <span>9.5</span>
                        </div>
                        <div class="movie-info">
                            <i class="bx bxs-time"></i>
                            <span>24 mins</span>
                        </div>
                        <div class="movie-info">
                            <span>HD</span>
                        </div>
                        <div class="movie-info">
                            <span>14+</span>
                        </div>
                    </div>
                </div>
            </a>*@
        </div>
        
    </div>
</div>

@*advanced search*@
<div class="advanced_search">
    <div class="advanced_content">
        <a href="#" class="advanced_title">
            <span>Advanced Search&nbsp;
                <i class='bx bx-search-alt bx-tada bx-rotate-90' ></i>
            </span>
        </a>
        <div class="advanced_img">
            <img src="~/sources/images/advanced/4955664.png" alt=""/>
        </div>
    </div>
</div>

@*section card details*@
<div class="section">
    <div class="card-container">
        <div class="pricing-header">
            UTA<span class="main-color">95</span>s account
        </div>
        <div class="pricing-list">
            <div class="row row-pricing">
                <!--box1-->
                <div class="col-card-4 col-c-md-12 col-c-sm-12">
                    <div class="pricing-box">
                        <div class="pricing-box-header">
                            <div class="pricing-name">
                                Guest
                            </div>
                            <div class="pricing-price">
                                Free
                            </div>
                        </div>
                        <div class="pricing-box-content">
                            <p>Originals</p>
                            <p><del>Profile</del></p>
                            <p><del>Favorite Page</del></p>
                            <p><del>Advanced Search</del></p>
                        </div>
                        <div class="pricing-box-action">
                            <a asp-controller="Index" asp-action="Index" class="box-action-btn">
                                <span>Register Now</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!--box2-->
                <div class="col-card-4 col-c-md-12 col-c-sm-12">
                    <div class="pricing-box highlight">
                        <div class="pricing-box-header">
                            <div class="pricing-name">
                                Member
                            </div>
                            <div class="pricing-price">
                                Register
                            </div>
                        </div>
                        <div class="pricing-box-content">
                            <p>Originals</p>
                            <p>Profile</p>
                            <p>Favorite Page</p>
                            <p>Advanced Search</p>
                        </div>
                        <div class="pricing-box-action">
                            <a asp-controller="Index" asp-action="Index" class="box-action-btn">
                                <span>Register Now</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!--box3-->
                <div class="col-card-4 col-c-md-12 col-c-sm-12">
                    <div class="pricing-box">
                        <div class="pricing-box-header">
                            <div class="pricing-name">
                                Moderator
                            </div>
                            <div class="pricing-price">
                                $4.99<span>/month</span>
                            </div>
                        </div>
                        <div class="pricing-box-content">
                            <p class="box-mod"><i class='bx bx-message-rounded-detail bx-tada bx-rotate-90' ></i>&nbsp;
                                5 Slots<span>/only</span></p>
                            <p>Moderating member</p>
                            <p>Moderating discord</p>
                            <p>All Member Options</p>
                        </div>
                        <div class="pricing-box-action">
                            <a href="#" class="box-action-btn">
                                <span>Contact Us</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

